<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Driver App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
    <h1 style="margin-left:40%">Driver App - driver id: {{ driver_id }}</h1>
    <h4>
        <button onclick="get_ride_history()" style="margin-left: 30%; font-size:large">Refresh</button>
    </h4>
    <table id="ride_history" border='1' style="margin-left:30%">
        <tr>
            <th style="width:30%">Waiting</th>
            <th style="width:30%">Ongoing</th>
            <th style="width:30%">Complete</th>
        </tr>
    </table>

    <script>
        var service = 'http://localhost:8000/driver/{{ driver_id }}';
        console.log(service);
        jQuery.support.cors = true;
        function get_ride_history(){
            $.ajax(
                {
                    type: "GET",
                    url: service+'/get_rides',
                    data: "{}",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    cache: false,
                    success: function (data) {

                    var trHTML = '';

                    $.each(data, function (i, item) {

                        pending =

                        trHTML += '<tr><td>'
                        if (item[0]){
                            trHTML += '<h5> Req.Id: ' + item[0].id +
                                       '&nbsp&nbsp&nbspCust.Id:' + item[0].customer.userid + '</h5>'+
                                        '<h5>' + Math.floor((new Date() - new Date(item[0].request_time))/60000) +'&nbspmins ago </h5>' +
                                        '<button onclick="accept_ride('+ item[0].id +')">Select</button>'
                            '</td>'
                       }
                       if (item[1]){
                            trHTML += '<td>' + '<h5>Req.Id:&nbsp' + item[1].id  +
                                        '</h5><h5> Request:&nbsp' + Math.floor((new Date() - new Date(item[1].request_time))/60000) +'&nbspmins ago </h5>' +
                                        '<h5> Picked up:&nbsp' + Math.floor((new Date() - new Date(item[1].pickup_time))/60000) +'&nbspmins ago </h5>' +
                                       '</td>'
                               }
                       if (item[2]){
                            trHTML +=  '<td>' + item[2].id +
                            '<h5> Request: ' + Math.floor((new Date() - new Date(item[1].request_time))/60000) +'&nbspmins ago </h5>' +
                            '<h5> Picked up: ' + Math.floor((new Date() - new Date(item[1].pickup_time))/60000) +'&nbspmins ago </h5>' +
                            '<h5> Completed: ' + Math.floor((new Date() - new Date(item[1].complete_time))/60000) +'&nbspmins ago </h5>' +
                            '</td>' +
                            '</tr>';
                        }
                    });
                    $('#ride_history').find("tr:gt(0)").remove();
                    $('#ride_history').append(trHTML);

                    },

                    error: function (msg) {

                        alert(msg.responseText);
                    }
                });
            }

        function accept_ride(ride_id){
            $.ajax({
                type: "GET",
                url: service+'/accept_request/'+ride_id,
             });
             setTimeout(complete_ride(ride_id), 300000);
         }

        function complete_ride(ride_id){
            $.ajax({
                type: "GET",
                url: service+'/complete_ride/'+ride_id,
            })
        }


        $(document).ready(function(){
            get_ride_history();
            setInterval(get_ride_history, 2000);
         })

    </script>

</body>
</html>
